body {
  background-image: url('https://static.vecteezy.com/ti/fotos-gratis/p1/2377841-vegetais-e-frutas-arranjo-com-espaco-preto-gratis-foto.jpg'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
  color:wheat;
}

.titulo {
  width:100%; 
  float:left; 
  text-align: center; 
  font-size:3.5em; 
  font-family: 'Satisfy', cursive;
  text-decoration: overline;
  padding-top: 20px;
  margin-bottom: 20px; 
  color:wheat;
  border: 3px solid white;
  border-radius: 40px;
  border-style:double;
}


.listaDeProdutos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
  margin: 0 auto; 
  color:wheat;
}

.produto img {
  width: 150px;

}

.produto {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 10px;
  justify-content: space-between;
  width: 180px;
  color:wheat;

}
